body{
    margin: 0;
    padding: 0;
    
}
#menu{
    width: 100%;
    height:50px;
    background-color: rgb(53, 194, 194);
    position: fixed;
    
}
#menu ul{
    margin: auto;
    margin-left: 295px;
}
#menu ul li{
    display: inline-block;
    color: white;
    font-size: 20px;
    padding-left: 65px;
    padding-top: 10px;
    
}

#menu ul li a{
    color: white;
    text-decoration: none;
}
#menu ul li a:hover{
    color: tomato;
}
.about{
    margin: auto;
    padding-top: 40px;
    width: 100%;
    height: 100vh;
    background-image:url(../img/bg.jpg);
    background-size: cover;
   }
 .bio{
     width: 60%;
     height: 80vh;
     float: left;
      }  
 .photo{
     width: 40%;
     height: 80vh;
     float: left;
 } 
 .photo img{
    width: 500px;
    height: 500px;
    padding-top: 80px;
 }    
.name{
    
    color:rgb(53, 194, 194);
    font-size: 20px;
    margin-top: 100px;
    padding-top: 60px;
    padding-left: 100px;
    
}
.about p{
    color:rgb(53, 194, 194);
    font-size: 20px;
    text-align: justify;
    padding-left: 100px;
    width:500px;
}
.btn{
    margin: auto;
    width: 170px;
    height: 50px;
    background-color: rgb(53, 194, 194);
    border: none;
    margin-left: 182px;
    margin-top: 20px;
    font-size: 20px;
}
.btn a{
    text-decoration: none;
    color: white;
    
}
.btn a:hover{
    background-color: white;
    color: rgb(53, 194, 194) ;
}
.h1{
    text-align: center;
    width: 100%;
    padding-top: 20px;
    color: rgb(117, 102, 102);
}
.Education{
    width: 100%;
    height: 50vh;
    background-image: url(../img/bg2.jpg);
    background-size: cover;
    margin-top: -22px;
}
.a{
    margin: auto;
    padding-left: 50px;
    text-align: center;
    padding-top: 5px;
    width: 100%;
}
.kkv{
    height: 50px;
    width: 50px;
    margin-top: 50px;
    margin-left: 20px;
    padding-top: 18px;
    margin: auto;
}
.school{
    text-align: center;
    padding-top: 120px;
    padding-left: 88px;
}
.fnt{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 85px;
    
}
.board{
   float: left;
   padding-left: 150px;
   margin: auto;
}
.skills{
    width: 100%;
    height: 500px;
    /* margin-top: 40px; */
}
.technical{
    width: 50%;
    height:500px;
    font-family: 'Volkhov', serif;
    background: rgb(195, 226, 195);
    float: left;
}
.personal{
    width: 50%;
    height:500px;
    float: left;
    background-image: url(../img/strength.jfif);
    background-repeat: no-repeat;
    color:white;
}
.personal h1{
    text-align: center;
    font-size: 40px;

}
.personal ul li{
    font-size: 20px;
    padding-top: 30px;
 }
 .project{
    width: 100%;
    height: 400px;
    margin-top: -22px;
    background-image: url(../img/project.jpg);
    background-repeat: no-repeat;
    background-size: cover;
 }
 .example{
     float: left;
     width: 23%;
     height: 250px;
     border: 2px solid black;
     margin-left: 20px;
     margin-top: 20px;
 }
 .example img{
     width: 350px;
     height:250px;
     overflow: hidden;
 }
 


 .center{
     width:100%;
     height:500px;
     padding-top:40px;
     background-image: url(../img/skills.jpg);
     box-sizing:border-box;
     float: left;
  
 }
 .center h1{
     margin: 0;
     padding: 0;
     color:white;
     text-transform: uppercase;
     letter-spacing: 2px;
 }
 .skillBox
 {
     box-sizing: border-box;
     width: 90%;
     margin:10px 0;
 }
 .skillBox p{
     color:rgb(11, 101, 107);
     text-transform: uppercase;
     margin: 0 0 10px;
     padding: 0;
     font-weight: bold;
     letter-spacing: 1px;
 }
 .skillBox p:nth-child(2)
 {
     float: right;
     position: relative;
     top: -25px;
 }
 .skill{
     background:rgb(180, 219, 247);
     padding: 4px;
     box-sizing: border-box;
     border: 1px solid rgb(166, 161, 241);
     border-radius: 2px;
 }
 .skill_level{
     background:rgb(69, 152, 190);
     width: 100%;
     height: 10px;
 }
 .contact{
     width: 100%;
     height: 600px;
    background-image:url(https://elementalmachines.io/wp-content/uploads/2017/10/contact-section-background.png);
    margin-top: -22px;
}
.mapouter{
    position:relative;
    text-align:right;
    height:600px;
    width:50%;
    float: left;

}
#gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:600px;
    width:100%;
}   

 .map{
     width: 50%;
     height:600px;
     float: left;
 }
 .form{
    width: 50%;
    height: 600px;
    background-color: skyblue;
    float: left;
    /* margin-left: 40px; */
}
.form input{
    width: 555px;
    background-color:white;
    border: 2px solid gray;
    margin-top: 40px;
    margin-left: 105px;
    padding-top: 20px;
}
.form textarea{
    width: 555px;
    margin-top: 40px;
    margin-left: 105px;
    border: 2px solid gray;
}
.btn_new{
    background-color:  rgb(53, 194, 194);
    color: white;
    margin-top: 40px;
    margin-left: 105px;
    font-size: 20px;
    height:40px;
    width: 557px;
    border: none;
}
.connect{
    margin-top: 40px;
    margin-left: 177px;
}
.social{
    float: left;
    width: 40px;
    height: 35px;
    margin-left: 83px;
    text-align: center;
    padding-top: 5px;
}

.social i{
    color:white;
    font-size: 30px;
    }
.social i:hover{
    color: white;
    width: 65px;
    height: 50px;
    text-align: center;
    padding-top: 16px;
    background-color: rgb(53, 194, 194);
    border-radius: 50%;
    border: 2px solid white;
}